# Generated NuGet package
.nupkg

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# Build files if we compile the template
src/BenchmarkDotNet.Template.CSharp/content/bin
src/BenchmarkDotNet.Template.CSharp/content/obj